body{
  margin: 0;
  padding: 0;
  background: #ffeb3b;
}

.glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 300px;
  width: 300px;
  background-image: url(/img.jpg);
  background-size: cover;
  border: 3px solid #fff;
  overflow: hidden;
  animation: animate linear 5s infinite;
}

.glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  transform: skewX(-30deg);
  animation: shine linear 5s infinite;
}

.shadow {
  position: absolute;
  top: calc(50% + 170px);
  left: 50%;
  transform: translate(-50%,-50%);
  height: 5px;
  width: 300px;
  background: #000;
  border-radius: 50%;
  animation: animate linear infinite 5s;
  filter: blur(7px);
}

@keyframes animate {
  0%{
    transform: translate(-50%,-50%) skewY(5deg);
  }
  50%{
    transform: translate(-50%,-50%) skewY(-5deg);
  }
  100%{
    transform: translate(-50%,-50%) skewY(5deg);
  }
}

@keyframes shine {
  0%{
    transform: translateX(-200px) skewX(-20deg);
  }
  50%{
    transform: translateX(200px) skewX(-20deg);
  }
  100%{
    transform: translateX(-200px) skewX(-20deg);
  }
}
